/*leo move arrow icon from left to right side*/

.ui-accordion-icons .ui-accordion-header a {
	padding-left: 0.3em;
}

.ui-accordion .ui-accordion-header .ui-icon {
	position: absolute;
	left: 100%;
	margin-left: -30px;
	top: 50%;
	margin-top: -8px;
}

/* reset */

body, div, ul, li, h1, h2, h3, h4, h5, h6, pre, form, input, textarea, p, th, td {
	margin: 0;
	padding: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

img {
	border: 0;
}

ul {
	list-style: none;
}

a, a:hover, a:active, a:focus {
	text-decoration: none;
	border: none;
	outline: none;
	/*color:#ffd4e6;*/
	/***color: #01ffd2;***/
}

:focus {
	outline: 0;
}

/* reset */

html {
	overflow-x: hidden;
	overflow-y: auto;
}

/*Leo add*/

body {
	background: center top url(images/bg.png);
	color: #01ffd2;
}

/* .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {	style: clear } */

#preload-01 {
	background: url(images/button_hover.png) no-repeat -9999px -9999px;
}

#MainContent {
	max-width: 320px;
	margin: 0 auto;
}

/* #outter {} */

.outter-main-tl {
	font-size: 15%;
	/*fix IE6*/
}

.outter-main-tm {
	font-size: 15%;
	/*fix IE6*/
}

.outter-main-tr {
	font-size: 15%;
	/*fix IE6*/
}

.outter-main-bl {
	font-size: 15%;
	/*fix IE6*/
}

.outter-main-bm {
	font-size: 15%;
	/*fix IE6*/
}

.outter-main-br {
	font-size: 15%;
	/*fix IE6*/
}

.outter-main-ml {
	width: auto;
}

.outter-main-mr {
	width: auto;
}

/* .outter-main-mm {} */

/*====End====*/

/*====Start====*/

#inner {
	position: relative;
}

.inner-main-tl {}

.inner-main-tm {}

.inner-main-tr {}

.inner-main-bl {}

.inner-main-bm {}

.inner-main-br {}

.inner-main-ml {}

.inner-main-mr {
	position: relative;
}

#frame1_1 {
	background: center top url(images/frame_top.png) no-repeat;
	position: absolute;
	background-size: 100% 102px;
	height: 102px;
	width: 100%;
	top: 0px;
	z-index: 101;
}

#frame2_1 {
	background: center center url(images/frame_middle.png) repeat-y;
	position: absolute;
	background-size: 100%;
	height: 100%;
	width: 100%;
	top: 0px;
	z-index: 100;
}

#frame3_1 {
	background: center bottom url(images/frame_bottom.png) no-repeat;
	background-size: 100% 107px;
	height: 107px;
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 102;
}

.inner-main-mm {}

/*====End====*/

.inner-main-mm img {}

#img_decoration1 {}

#img_decoration2 {}

#img_decoration3 {}

#img_videobutton {
	width: 50px;
	height: 50px;
	position: absolute;
	background: url(../images/icons/video.png) center center no-repeat;
	background-size: contain;
	z-index: 999;
	top: -50px;
	cursor: pointer;
}

/*====End====*/

/*====Main-title Start====*/

#main-title {}

#maintitlehtml {}

#maintitlehtml span {}

.main-title-tl {}

.main-title-tm {}

.main-title-tr {}

.main-title-bl {}

.main-title-bm {}

.main-title-br {}

.main-title-ml {
	font-size: 15%;
	/*fix IE6*/
}

.main-title-mm {
	background: center top url(images/main_title.png) no-repeat;
	background-size: 100% 98px;
	min-height: 98px;
	font-size: 15%;
	/*fix IE6*/
}

.main-title-mr {}

#maintitlehtml {
	width: auto;
	line-height: 1.2;
	text-align: left;
	padding: 15px 56px 15px 56px;
	color: #115595;
}

/*====main-title End====*/

/*====Sub-title Start====*/

#sub-title {}

.sub-title-tl {
	font-size: 15%;
	/*fix IE6*/
}

.sub-title-tm {
	font-size: 15%;
	/*fix IE6*/
}

.sub-title-tr {
	font-size: 15%;
	/*fix IE6*/
}

.sub-title-bl {
	font-size: 15%;
	/*fix IE6*/
}

.sub-title-bm {
	font-size: 15%;
	/*fix IE6*/
}

.sub-title-br {
	font-size: 15%;
	/*fix IE6*/
}

.sub-title-ml {}

.sub-title-mr {}

.sub-title-mm {
	width: 100%;
	height: 47px;
	background: center center url(images/date.png) no-repeat;
	background-size: 100% 47px;
	text-align: center;
}

#subtitlehtml {
	padding: 10px 50px 10px 50px;
	color: #d8023e;
}

#img_decoration3 {}

/*====sub-title End====*/

/*====Start====*/

.button {
	/*
	background:url(images/btn_bg2.png) left 0px no-repeat;
	*/
}

.button * {
	/*
	background:url(images/btn_bg2.png) left 0px no-repeat;
	*/
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	outline-color: transparent;
}

.button-tl {}

.button-tm {}

.button-tr {}

.button-bl {}

.button-bm {}

.button-br {}

.button-ml {}

.ui-state-hover .button-ml {}

.ui-state-active .button-ml {}

.button-mr {}

.ui-state-hover .button-mr {}

.ui-state-active .button-mr {}

.button-mm {
	width: 100%;
	height: 58px;
	background: center center url(images/button.png) no-repeat;
	background-size: 100% 58px;
}

.ui-state-hover .button-mm {
	background: center center url(images/button_hover.png) no-repeat;
}

.ui-state-active .button-mm {
	background: center center url(images/button_hover.png) no-repeat;
}

.button-mm a {
	width: 100%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.iconimage {
	margin-left: 20px;
	margin-top: 0px;
	vertical-align: middle;
}

.button-title {
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	color: #0094aa;
	font-size: 20px;
	/*	font-weight:bold; */
	font-weight: normal;
	line-height: 45px;
	padding-left: 18px;
	margin-top: 5px;
}

/*====End====*/

/*====Start====*/

.detail {}

.detail-tl {}

.detail-tm {}

.detail-tr {}

.detail-bl {}

.detail-bm {}

.detail-br {}

.detail-ml {}

.detail-mr {}

.detail-mm p {}

.detail-mm {
	background: center center url(images/content.png);
	width: auto;
	color: #01ffd2;
	padding: 20px 25px 10px 25px;
	line-height: 1.3;
	letter-spacing: 1px;
	/* height: 100%; */
}

#footer {
	background: center url(images/copyright.png) no-repeat;
	background-size: 100% 37px;
	height: 37px;
}

#copyright-text {
	font-size: 14px;
	color: #115595;
	text-align: center;
	line-height: 37px;
	height: 37px;
}

/*====End====*/